
.header {
    &-top {
        padding-top: 19px;
        padding-bottom: 17px;
        border-bottom: 1px solid #D1D2DB;
    }
    &-top-container {
        display: flex;
        align-items: center;
    }
    &-logo {
        display: block;
        width: 186px;
        height: 46px;
        margin-right: 59px;
    }
    &-phone {
        position: relative;
        margin-right: auto;
        padding-right: 10px;
    }
    &-phone-panel {
        display: flex;
        align-items: center;
        margin-bottom: 6px;
    }
    &-phone-dropdown {
        display: none;
        position: absolute;
        top: calc(100% + 15px);
        left: 0;
        z-index: 2;
        width: 356px;
    }
    &-phone-link {
        text-decoration: none;
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 14px;
    }
    &-phone-icon {
        vertical-align: middle;
        margin-right: 12px;
    }
    &-phone-switcher {
        display: inline-block;
        padding: 3px;
        line-height: 0px;
        margin-top: -1px;
    }
    &-arrow-icon {
    }
    &-phone-label {
        vertical-align: middle;
        font-weight: 700;
        font-size: 17px;
        line-height: 23px;
        color: #1B1B1B;
        font-family: 'Manrope', sans-serif;
    }
    &-phone-list {
        background-color: #fff;
        border-radius: 4px;
        border: 0.5px solid #D1D2DB;
        box-shadow: 0px 0px 10px rgba(197, 195, 199, 0.25);
    }
    &-phone-list-item {
        margin-top: -1px;
        border-bottom: 1px solid #D1D2DB;
        padding: 16px 22px 18px;
        &:first-child {
            border-radius: 4px 4px 0 0;
        }
        &:last-child {
            border-radius: 0 0 4px 4px;
        }
    }
    &-phone-list-item:hover {
        position: relative;
        z-index: 2;
        margin-left: -1px;
        margin-right: -1px;
        padding-left: 23px;
        padding-right: 23px;
        background-color: #FF3560;
        border-bottom-color: #FF3560;
    }
    &-phone-number {
        display: block;
        margin-bottom: 5px;
        text-decoration: none;
        font-weight: 700;
        font-size: 17px;
        line-height: 23px;
        color: #1B1B1B;
        font-family: 'Manrope', sans-serif;
        &:hover {
            color: #1B1B1B;
        }
    }
    &-phone-arrow-icon {
        position: absolute;
        top: -14px;
        left: 44px;
        z-index: 1;
        width: 32px;
        height: 15px;
        overflow: hidden;
    }
    &-address {
        margin-left: 0;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: -0.01em;
        color: #333333;
    }
    &-phone-list-item:hover {
        color: #fff;
    }
    &-phone-list-item:hover &-address {
        color: #fff;
    }
    &-phone-list-item:hover &-phone-number {
        color: #fff;
    }
    &-phone-list-item:last-child {
        border-bottom-color: transparent;
    }
    &-address_top {
        margin-left: 28px;
    }
    &-phone_active {
    }
    &-phone_active &-phone-dropdown {
        display: block;
    }
    &-phone_active &-arrow-icon {
        transform: scaleY(-1);
    }
    &-socials {
        margin-left: 32px;
    }
    &-socials-label {}
    &-download-button {
        margin-left: auto;
    }
    &-download-button-mob {
        display: none;
    }
    &-menu-container {
        display: flex;
    }
    &-location {
        position: relative;
        min-width: 122px;
        margin-top: -10px;
        margin-right: 10px;
    }
}

.location {
    display: flex;
    &-label {
        text-decoration: underline;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
    &-icon {
        margin-right: 10px;
        margin-bottom: -1px;
    }
    &:hover &-label {
       text-decoration: none;
    }
}

.socials {
    display: flex;
    &-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &-label {
        margin-top: 6px;
        margin-right: 16px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.01em;
        color: #1B1B1B;
    }
    &-item {
        margin-right: 14px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-link {
        @include bgrcolor();
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
        text-decoration: none;
        text-align: center;
        width: 33px;
        height: 33px;
        background-color: #7072A1;
        border-radius: 50%;
        &:hover {
            background-color: #FF3560;
        }
    }
    &-icon {
    }
}

.main-menu {
    display: flex;
    align-items: center;
    &-container {
        display: flex;
        align-items: center;
    }
    &-list {
        display: flex;
        align-items: center;
        height: 57px;
        margin-right: auto;
    }
    &-item {
        position: relative;
        margin-right: 40px;
    }
    &-link {
        display: flex;
        align-items: center;
        padding-top: 19px;
        padding-bottom: 19px;
        text-decoration: none;
        white-space: nowrap;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        font-family: 'Manrope', sans-serif;
        color: #1B1B1B;
        &:hover {
            color: #1B1B1B;
        }
    }
    &-icon {
        vertical-align: middle;
        margin-top: -1px;
        margin-left: 13px;
        margin-right: -5px;
    }
    &-item:hover &-icon {
        transform: scaleY(-1);
    }
}

.main-submenu {
    display: none;
    position: absolute;
    top: calc(100% - 14px);
    left: -24px;
    z-index: 2;
    padding-top: 13px;
    width: 356px;
    &_col-2 {
        width: 614px;
    }
    &_col-3 {
        width: 921px;
    }
    &-block {
        border-radius: 4px;
        overflow: hidden;
    }
    &-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 368px;
        box-shadow: 0 0 10px rgba(197, 195, 199, 0.25);
        border: 0.5px solid #D1D2DB;
        background-color: #fff;
    }
    &-item {
        width: 354px;
        margin-top: -1px;
        margin-bottom: -1px;
        border: solid #D1D2DB;
        border-width: 1px 0;
        background-color: #fff;
    }
    &_col-2 &-item {
        width: 307px;
        &:last-child {
            border-bottom-color: transparent;
        }
    }
    &_col-3 &-item {
        width: 307px;
        &:last-child {
            border-bottom-color: transparent;
        }
    }
    &-link {
        display: block;
        min-height: 53px;
        padding: 18px 22px 17px;
        text-decoration: none;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: -0.01em;
        color: #333333;
        margin-left: -1px;
        margin-right: -1px;
    }
    &-item:hover {
        position: relative;
        z-index: 1;
        border-color: transparent;
        border-bottom-color: #fff;
    }
    &-item:hover &-link {
        background-color: #FF3560;
    }
    &-item:hover > &-link {
        color: #fff;
    }
    &-item:nth-child(6n) {
        border-bottom-color: transparent;
    }
    &-item:nth-child(6n):hover {
        background-color: #FF3560;
    }
    &-icon {
        position: absolute;
        top: -1px;
        left: 49px;
        width: 32px;
        height: 15px;
        overflow: hidden;
        svg {
            height: 20px;
        }
    }

    @media screen
    and (max-width: $tablet){
        left: -16px;
        width: 290px;
        &_col-2 {
            width: 480px;
        }
        &_col-3 {
            width: 720px;
        }
        &-list {
            max-height: 315px;
        }
        &-item {
            width: 290px;
        }
        &_col-2 &-item {
            width: 240px;
        }
        &_col-3 &-item {
            width: 240px;
        }
        &-link {
            min-height: 45px;
            padding: 15px 15px 14px;
            font-size: 12px;
            line-height: 16px;
        }
        &-icon {
            left: 30px;
        }
    }
    @media screen
    and (max-width: $mobile){

    }
}
.main-menu-item:hover .main-submenu {
    display: block;
}

.mob {
    &-menu {
        display: none;
        min-width: 17px;
        width: 17px;
        height: 16px;
        overflow: hidden;
    }
    &-menu-switcher {
        display: inline-block;
        line-height: 0;
    }
    &-menu-switcher-icon {
        display: block;
        width: 17px;
        height: 15px;
    }
    &-close-panel {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        width: 100%;
        min-height: 61px;
        padding: 12px 15px 14px 15px;
        border-bottom: 1px solid #D1D2DB;
    }
    &-close-panel_simple {
    }
    &-nav {
        padding-top: 19px;
        margin-bottom: 11px;
    }
    &-company {
        display: flex;
        align-items: center;
        text-decoration: none;
        &-logo {
            margin-right: 20px;
            text-decoration: none;
        }
    }
    &-close {
        position: relative;
        z-index: 3;
        display: block;
        padding: 5px;
        margin-left: auto;
        margin-right: -7px;
        background-color: #fff;
    }

    &-block {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
        padding-top: 60px;
        padding-bottom: 25px;
        background-color: #fff;
        border: solid #eaeaea;
        border-width: 0 1px 1px 0;
        transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        transform: translateX(-100%);
        overflow-x: hidden;
        overflow-y: auto;
    }
    &-child {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transition: transform 0.4s cubic-bezier(.19,1,.22,1);
        transform: translateX(100%);
        overflow-x: hidden;
        overflow-y: hidden;
    }
    &-menu-decor {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 990;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
    &-menu_active &-menu-decor {
        display: block;
    }
    &-block.open {
        transform: translateX(0%);
    }
    &-block.open &-child {
        display: block;
    }
    &-child.open {
        transform: translateX(0%);
    }

    .mob-is-levels { }
    &-block.mob-is-levels &-nav {
        height: 0;
        overflow: hidden;
    }
    &-block.mob-is-levels &-info {
        height: 0;
        overflow: hidden;
    }

    &-child.mob-child-is-current {
        overflow-y: auto;
    }
    &-list {
    }
    &-list-item {
        border-bottom: 1px solid #E1E1E4;
        margin-bottom: -1px;
        &:last-child {
            border-bottom-width: 0;
        }
        &:hover {
            border-color: transparent;
        }
    }
    &-is-levels &-list-item {
        height: 0;
        overflow: hidden;
    }
    &-child.mob-child-is-current &-list-item {
        height: auto;
        overflow: visible;
    }
    &-back {
        display: flex;
        align-items: center;
        position: sticky;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 61px;
        padding: 12px $gutter 14px;
        border: solid #eeeeee;
        border-width: 0 0 1px 0;
        background-color: #fff;
        &:hover {
            background-color: transparent;
            color: #8a8a8a;
        }
    }
    &-back-link {
        margin-right: auto;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
        line-height: 18px;
        color: #8a8a8a;
        text-decoration: none;
    }
    &-close-link {}
    &-close-icon {
        width: 9px;
    }
    &-close-icon path {
        fill: #1B1B1B;
    }

    &-list-link {
        display: flex;
        align-items: center;
        min-height: 37px;
        padding: 8px 15px 10px;
        text-decoration: none;
        font-family: 'Manrope', sans-serif;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        &:hover {
            color: #fff;
            background-color: #FF3560;
        }
    }
    &-list-link_back {

    }
    &-list-item_profile {
        display: none;
        margin-bottom: 10px;
    }
    &-list-item_active {}
    &-list-item_active &-list-link {
        color: #59A750;
        font-weight: 700;
    }

    &-list-current {
        display: flex;
        align-items: center;
        position: relative;
        min-height: 36px;
        padding: 8px $gutter 10px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
        line-height: 18px;
        background-color: #f1f2f6;
        text-decoration: none;
        font-family: 'Manrope', sans-serif;
        &:hover {
            color: #0D0C0B;
        }
        &:after {
            content: '';
            position: absolute;
            bottom: -7px;
            left: 18px;
            width: 12px;
            height: 7px;
            background: url("../images/header/mob-menu-arrow.png") no-repeat 0 0;
        }
    }

    &-list-child-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 57px;
        padding: 12px 15px;
        text-decoration: none;
        font-size: 15px;
        line-height: 21px;
        color: #1d1d1d;
        &:hover {
            color: #1d1d1d;
        }
    }
    &-back-icon {
        margin-right: 7px;
        transform: scaleX(-1);
    }
    &-list-img {
        margin-right: 13px;
        vertical-align: middle;
    }
    &-list-icon {
        width: 5px;
        height: 9px;
        margin-left: auto;
        vertical-align: middle;
    }
    &-list-link:hover &-list-icon path {
        fill: #FFF;
    }
    &-link {
        color: #1c1c1c;
    }

    &-list-category {
        display: block;
    }
    &-user-icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
    }
    &-list-link:hover &-list-icon {
    }
    &-list-link:hover &-user-icon {
        fill: #335aa6;
    }

    &-list-link_simple {
        min-height: 50px;
        padding-top: 14px;
        padding-bottom: 14px;
        font-size: 15px;
        text-transform: none;
    }
    &-info {
        padding: 13px $gutter 21px;
        font-size: 15px;
        border-bottom: 1px solid #D1D2DB;
        &:last-child {
            border-bottom-width: 0;
        }
    }
    &-info-title {
        display: block;
        margin-bottom: 15px;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        color: #1d1d1d;
    }
    &-info-label {
    }
    &-list-informer {
        margin-left: auto;
        display: inline-block;
        min-width: 16px;
        height: 16px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 8px;
        background-color: #46bb4b;
        text-align: center;
        font-size: 10px;
        line-height: 17px;
        color: #fff;
    }
    &-user-info {
        display: flex;
        align-items: center;
    }
    &-callback-button {
        line-height: 0;
    }
    &-socials-title {
        display: block;
        margin-bottom: 12px;
        font-size: 14px;
    }
    &-title {
        margin-top: 1px;
        margin-right: 10px;
        font-size: 14px;
        color: #2a364d;
        font-weight: 800;
        text-transform: uppercase;
    }
    &-header-link {
        margin-right: auto;
        font-size: 14px;
        font-weight: 700;
        color: $color;
        &:hover {
            text-decoration: none;
            color: $color;
        }
    }

    &-contacts {
    }
    &-contacts-item {
        margin-bottom: 18px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-contacts-block {
        display: flex;
    }
    &-contacts-icon {
        margin-right: 5px;
        font-size: 13px;
        color: #1d1d1d;
    }
    &-contacts-description {
        a {
            text-decoration: none;
            font-size: 18px;
            font-weight: 700;
            color: #1d1d1d;
            &:hover {
                color: #1d1d1d;
            }
        }
    }
    &-contacts-hours {
        font-size: 15px;
        color: #a1a1a1;
    }
    &-catalog-icon {
        margin-right: 7px;
        margin-top: -3px;
    }
    &-list-link-icon {
        vertical-align: middle;
        margin-top: -2px;
        margin-right: 5px;
        color: #1d1d1d;
    }
    &-logo {
        width: 101px;
    }
    &-logo-img {
        display: block;
    }
    &-location {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 14px;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: -0.01em;
        color: #1B1B1B;
    }
    &-socials-label {
        margin-bottom: 9px;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: -0.01em;
        color: #1B1B1B;
    }
    &-phone {
        display: flex;
    }
    &-phone-icon {
        width: 13px;
        min-width: 13px;
        margin-right: 10px;
        margin-top: 5px;
    }
    &-phone-list-item {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-phone-number {
        font-family: 'Manrope', sans-serif;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        text-decoration-line: underline;
        color: #1B1B1B;
        &:hover {
            text-decoration: none;
        }
    }
    &-address {
        font-weight: 500;
        font-size: 8px;
        line-height: 10px;
        letter-spacing: -0.01em;
        color: #1B1B1B;
    }
}

body.mob-menu-show {
    overflow: hidden;
}

/* IE 11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
}
/* /IE 11 */

@media screen
and (min-width: $desktop) {
}

@media screen
and (max-width: $desktop) {
    .header {
        &-logo {
            margin-right: 40px;
        }
        &-socials-label {
            display: none;
        }
        &-phone-label {
            font-size: 15px;
        }
        &-socials {
            margin-left: 22px;
        }
        &-download-button {
            padding-left: 20px;
            padding-right: 20px;
        }
        &-location {
            min-width: 100px;
        }
    }
}

@media screen
and (max-width: $tablet){
    .header {
        &-top {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom-width: 0;
        }
        &-logo {
            min-width: 135px;
            width: 135px;
            height: 33px;
            margin-right: 40px;
        }
        &-download-button {
            display: none;
        }
        &-phone {
            padding-right: 30px;
        }
        &-phone-icon {
            width: 13px;
            margin-right: 8px;
        }
        &-phone-label {
            font-size: 12px;
            line-height: 16px;
        }
        &-phone-link {
            margin-right: 10px;
        }
        &-arrow-icon {
            width: 8.5px;
        }
        &-address_top {
            margin-left: 24px;
        }
        &-address {
            font-size: 8px;
            line-height: 10px;
        }
        &-phone-number {
            font-size: 12px;
            line-height: 16px;
        }
        &-phone-dropdown {
            width: 250px;
        }
        &-phone-list-item {
            padding-left: 21px;
            padding-right: 21px;
            padding-top: 13px;
            padding-bottom: 15px;
        }
        &-download-button {
            display: none;
        }
        &-download-button-mob {
            display: inline-block;
        }
        &-socials-label {
            display: inline-block;
        }
        &-location {
            min-width: 100px;
        }
    }
    .location {
        display: inline-block;
        &-label {
            font-size: 11px;
            line-height: 14px;
        }
        &-icon {
            width: 10px;
            margin-right: 8px;
            margin-bottom: -2px;
        }
    }
    .socials {
        &-item {
            margin-right: 10px;
        }
        &-label {
            margin-top: 6px;
            margin-right: 14px;
            font-size: 8px;
            line-height: 10px;
        }
        &-link {
            width: 24px;
            height: 24px;
        }
        &-icon {
            width: 11px;
        }
        &-icon_youtube {
            width: 11.75px;
        }
    }
    .main-menu {
        &-list {
            height: 44px;
        }
        &-item {
            margin-right: 17px;
        }
        &-link {
            padding-top: 9px;
            padding-bottom: 20px;
            font-size: 10px;
            line-height: 14px;
        }
        &-icon {
            margin-top: 0;
            margin-left: 8px;
            width: 8.5px;
        }
    }
}

@media screen
and (max-width: $mobile){
    .header {
        &-top {
            height: 61px;
            padding-top: 11px;
            padding-bottom: 14px;
        }
        &-logo {
            min-width: 141px;
            width: 141px;
            height: 34px;
            margin-right: auto;
        }
        &-menu {
            display: none;
        }
        &-phone {
            display: none;
        }
        &-socials {
            display: none;
        }
        &-location {
            display: none;
        }
    }
    .mob {
        &-menu {
            display: inline-block;
            margin-left: auto;
        }
    }
}
