
.news-main {
    margin-bottom: 115px;
    &-list {
        margin-bottom: 25px;
    }
    &-item {
        margin-bottom: 28px;
    }

    @media screen
    and (max-width: $tablet) {
        margin-bottom: 60px;
        &-list {
            margin-bottom: 2px;
        }
        &-item {
            margin-bottom: 22px;
        }
    }

    @media screen
    and (max-width: $mobile){
    }
}


.news-detail {
    &-container {
        margin-bottom: 97px;
    }
    &-content {
        margin-bottom: 30px;
    }
    &-img {
        display: block;
        border-radius: 4px;
    }
    @media screen
    and (max-width: $tablet) {
        &-container {
            margin-bottom: 50px;
        }
        &-content {
            margin-bottom: 20px;
        }
    }
    @media screen
    and (max-width: $mobile){
        &-img {
            height: 194px!important;
            object-fit: cover;
        }
    }
}
