
@keyframes animation-page-404-1 {
    50% {
        top: -100px;
        margin-right: 50px;
        transform: rotate(12deg);
    }
    99% {
        top: -159px;
        margin-right: 129px;
        transform: rotate(0deg);
    }
}

@keyframes animation-page-404-2 {
    50% {
        top: -350px;
        margin-right: 120px;
        transform: rotate(-6deg);
    }
    99% {
        top: -429px;
        margin-right: 0;
        transform: rotate(0deg);
    }
}

.page-404 {
    .main-content {
        display: flex;
        justify-content: center;
        padding-bottom: 1px;
    }
    &-block {
        display: flex;
        width: 100%;
        min-height: 100%;
        overflow: hidden;
        background-color: #526295;
    }
    &-container {
        position: relative;
        display: flex;
        height: 100%;
        align-items: center;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    &-detail {
        width: 50%;
        position: relative;
        z-index: 1;
    }
    &-img {
        width: 50%;
        text-align: right;
        margin-right: 31px;
        position: relative;
        z-index: 1;
    }
    &-name {
        margin-bottom: 30px;
        font-family: 'Manrope', sans-serif;
        font-weight: 600;
        font-size: 64px;
        line-height: 75px;
        color: #FFFFFF;
        white-space: nowrap;
    }
    &-info {
        margin-bottom: 40px;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        color: #FFFFFF;
    }
    &-decor {
        position: absolute;
        top: 0;
        right: 0;
        width: 400px;
        height: 100%;
        margin-right: -343px;
    }
    &-decor-1 {
        position: absolute;
        top: -159px;
        right: 0;
        width: 529px;
        height: 775px;
        margin-right: 129px;
        background: url("../images/page-404/page-404-decor-1.png") no-repeat 0 0;
        animation: animation-page-404-1 17s linear infinite;
    }
    &-decor-2 {
        position: absolute;
        top: -429px;
        right: 0;
        width: 568px;
        height: 1164px;
        background: url("../images/page-404/page-404-decor-2.png") no-repeat 0 0;
        animation: animation-page-404-2 17s linear infinite;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 100%;
            width: 100vw;
            max-width: none;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.15);
        }
    }

    @media screen
    and (max-width: $tablet) {
        &-container {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        &-detail {
            width: 60%;
        }
        &-img {
            width: 40%;
            margin-right: 0;
        }
        &-name {
            margin-bottom: 27px;
            font-size: 26px;
            line-height: 34px;
        }
        &-info {
            margin-bottom: 25px;
            font-size: 14px;
            line-height: 26px;
        }
        &-pic {
            max-width: 237px;
        }
        @keyframes animation-page-404-2 {
            50% {
                top: -151px;
                margin-right: 100px;
            }
            99% {
                top: -251px;
                margin-right: 230px;
            }
        }
        &-decor-2 {
            top: -251px;
            margin-right: 230px;
            width: 529px;
            height: 775px;
            background-image: url("../images/page-404/page-404-decor-1.png");
            transform: scaleY(-1);
            &:before {
                display: none;
            }
        }
    }

    @media screen
    and (max-width: $mobile) {
        &-container {
            flex-direction: column;
            padding-top: 70px;
            padding-bottom: 35px;
        }
        &-detail {
            width: 100%;
            margin-bottom: 30px;
        }
        &-img {
            width: 100%;
            text-align: center;
        }
        &-name {
            margin-bottom: 15px;
            font-family: 'Manrope', sans-serif;
            font-size: 36px;
        }
        &-pic {
            max-width: 258px;
        }
        @keyframes animation-page-404-1 {
            50% {
                top: -70px;
                margin-left: -180px;
                transform: rotate(-20deg);
            }
            99% {
                top: -114px;
                margin-left: -259px;
                transform: rotate(0deg);
            }
        }
        @keyframes animation-page-404-2 {
            50% {
                bottom: -130px;
            }
            99% {
                bottom: -60px;
            }
        }
        &-decor {
            top: 0;
            right: auto;
            left: 0;
            margin-right: 0;
        }
        &-decor-1 {
            top: -114px;
            right: auto;
            left: 0;
            margin-left: -259px;
            width: 488px;
            height: 782px;
            background-image: url("../images/page-404/page-404-decor-1-mob.png");
            animation: animation-page-404-1 17s linear infinite;
        }
        &-decor-2 {
            top: auto;
            bottom: -60px;
            right: auto;
            left: 0;
            margin-left: -12px;
            width: 750px;
            height: 502px;
            background-image: url("../images/page-404/page-404-decor-2-mob.png");
            background-size: 100% auto;
            animation: animation-page-404-2 17s linear infinite;
            transform: none;
        }
    }
}
